name: Biome Formatter

on:
  workflow_call:
    secrets:
      STUDIOCMS_GIT_BOT_APP_ID:
        description: 'The GitHub App ID for authenticating with the GitHub API'
        required: true
      STUDIOCMS_GIT_BOT_PRIVATE_KEY:
        description: 'The GitHub App Private Key for authenticating with the GitHub API'
        required: true

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    env:
      NODE_OPTIONS: "--max_old_space_size=4096"
    steps:
      - name: Setup Apollo Git Bot
        id: bot-token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          app-id: ${{ secrets.STUDIOCMS_GIT_BOT_APP_ID }}
          private-key: ${{ secrets.STUDIOCMS_GIT_BOT_PRIVATE_KEY }}

      - name: Checkout Repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: true
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          token: ${{ steps.bot-token.outputs.token }}

      - name: Install Tools & Dependencies
        uses: withstudiocms/automations/.github/actions/install@main

      - name: Run Biome formatter
        run: pnpm biome check --write .

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
        with:
          commit_message: '[ci] lint'
          branch: ${{ github.event.pull_request.head.sha || github.sha }}
          commit_user_name: apollo-git-bot[bot]
          commit_user_email: 234251158+apollo-git-bot[bot]@users.noreply.github.com
          commit_author: Apollo Git Bot <234251158+apollo-git-bot[bot]@users.noreply.github.com>
