name: Run Knip Linter and Report

on:
  workflow_call:
    secrets:
      STUDIOCMS_GIT_BOT_APP_ID:
        description: 'The GitHub App ID for authenticating with the GitHub API'
        required: true
      STUDIOCMS_GIT_BOT_PRIVATE_KEY:
        description: 'The GitHub App Private Key for authenticating with the GitHub API'
        required: true
    inputs:
      pre-knip-cmd:
        type: 'string'
        description: 'The build command to run before running knip'
        required: true

jobs:
  publish:
    if: github.repository_owner == 'withstudiocms'
    permissions:
      contents: read
      checks: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Setup Apollo Git Bot
        id: bot-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.STUDIOCMS_GIT_BOT_APP_ID }}
          private-key: ${{ secrets.STUDIOCMS_GIT_BOT_PRIVATE_KEY }}

      - name: Checkout Repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          token: ${{ steps.bot-token.outputs.token }}

      - name: Install Tools & Dependencies
        uses: withstudiocms/automations/.github/actions/install@main

      - name: Run Pre-Knip Command
        run: ${{ inputs.pre-knip-cmd }}

      - name: Run Knip Linter and Report
        uses: codex-/knip-reporter@398e656c485dd1649f06631a4cd2e602c6ccc4f1 # v2.6.0