name: Renovate Changesets

on:
  workflow_call:
    secrets:
      STUDIOCMS_GIT_BOT_APP_ID:
        description: 'The GitHub App ID for authenticating with the GitHub API'
        required: true
      STUDIOCMS_GIT_BOT_PRIVATE_KEY:
        description: 'The GitHub App Private Key for authenticating with the GitHub API'
        required: true

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Setup Apollo Git Bot
        id: bot-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.STUDIOCMS_GIT_BOT_APP_ID }}
          private-key: ${{ secrets.STUDIOCMS_GIT_BOT_PRIVATE_KEY }}

      - name: Checkout Repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          token: ${{ steps.bot-token.outputs.token }}

      - name: Update PR
        uses: mscharley/dependency-changesets-action@e704c89dbc4e284d055aa520308291690f645a4f # v1.2.2
        with:
          token: ${{ steps.bot-token.outputs.token }}
          use-conventional-commits: true
          author-name: apollo-git-bot[bot]
          author-email: 234251158+apollo-git-bot[bot]@users.noreply.github.com