name: Send discord Embed

on:
  workflow_call:
    inputs:
      DISCORD_WEBHOOK:
        description: >
          URL of a Discord webhook. To create one:
            1. Find the channel you want to post a message in.
            2. Right-click and select “Edit Channel”.
            3. Navigate to “Integrations” > “View Webhooks”.
            4. Click “New Webhook” and copy the URL for your newly created webhook.
        type: string
        required: true
      CONTENT:
        description: >
          The non-embedded Content for the discord message
        default: ''
        type: string
        required: false
      EMBEDS:
        description: >
          A JSON array of the discord embed messages
          Example:
          [
            {
              "id": 661098315,
              "description": "Hello World!",
              "fields": [],
              "author": {
                "name": "Hello World!",
                "icon_url": "https://github.com/withstudiocms/studiocms.dev/blob/main/assets/logo-discord.png?raw=true"
              },
              "title": "Hello!"
            }
          ]
        default: >
          []
        type: string
        required: false

jobs:
  runner:
    runs-on: ubuntu-latest
    steps:
      - name: Send Discord Message
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7
        with:
          script: |
            const fetchURL = '${{ inputs.DISCORD_WEBHOOK }}';
            const Content = '${{ inputs.CONTENT }}';
            const Embeds = ${{ inputs.EMBEDS }};
            
            await fetch(fetchURL, {
              method: 'POST',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                content: Content,
                tts: false,
                embeds: Embeds,
              })
            })
      
