name: TEST - Discord ping

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
          
      - name: test
        uses: ./.github/workflows/send-discord-embed.yml
        with:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_TEST_HOOK }}
          CONTENT: This is a test
  
